---
---

@import "{{ site.theme }}";

body {
  background: #fff;
  color: #000;
}

header {
  border-bottom: none;
  padding: 41px 0 45px 0;
  background: #F5F5F5;

  h1 {
    color: #000;
    font-weight: bolder;
    text-shadow: none;
  }
  
  h1, h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #ca5c24;
  text-shadow: none;
}

a {
  color: blue;
  text-shadow: none;
}
