<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="fb:app_id" content="2261902074060659" />
    <meta property="fb:admins" content="100001817425153" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://cursor.education/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="https://cursor.education/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="CURSOR Education">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="https://frontend-materials.cursor.education">
    <meta property="og:image" content="https://cursor.education/static/images/og-image.png">
    <meta property="og:locale" content="uk_UA">

{% seo %}
  </head>

  <body>
    <div id="fb-root"></div>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="likes"></section>
      
      <section id="main_content">
        {{ content }}
      </section>
      
      <section id="comments">
        <h2>Коментарі:</h2>
        <div id="comments_feed"></div>
      </section>
    </div>
    
<script>
  var addCommentsWidget = function() {
    var $div = document.createElement('div');
    $div.classList.add('fb-comments');
    $div.setAttribute('data-href', window.location.href.split('?')[0]);
    $div.setAttribute('data-numposts', '10');
    $div.setAttribute('data-width', '100%');

    var $comments = document.querySelector('#comments_feed');
    $comments.appendChild($div);
  };
  
  var addLikesWidget = function () {
    var $div = document.createElement('div');
    $div.classList.add('fb-like');
    $div.setAttribute('data-href', window.location.protocol + '//' + window.location.hostname);
    $div.setAttribute('data-layout', 'standard');
    $div.setAttribute('data-action', 'like');
    $div.setAttribute('data-size', 'large');
    $div.setAttribute('data-show-faces', 'true');
    $div.setAttribute('data-share', 'true');
    $div.setAttribute('data-width', '500px');

    var $likes = document.querySelector('#likes');
    $likes.appendChild($div);
  }
</script>
    
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v3.2&appId=2261902074060659&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
  
  addCommentsWidget();
  addLikesWidget();
}(document, 'script', 'facebook-jssdk'));</script>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
